h1 {
    color: green;
}

p{
    color: aqua;
}

    button{
        color:red;
        background:blue ;
    }

    h1:nth-child(2){
        color:rgb(255, 0, 255)
    }

    p:nth-child(1){
        color: rgb(red, green, blue);
    }
    
    button:nth-child(1){
            color:red;
            background:rgb(red, green, blue) ;
        }